
<ul>
    <% @faqs.each do |faq|%>
    <li  class="box square_btn_faq"><%= link_to faq.title, faq_path(faq), remote: true  %>
                    <%= link_to '削除',
                        faq_path(faq),
                        method: :delete,
                        class: 'command',
                        data: { confirm: '本当に削除しますか？'} %></li>
    <% end %>
</ul>