     <!--　お申し込み画面への誘導　-->
  <!--　メイン２の記述　-->
  <main>
  <div class="beige-wrapper">
  
             <div class="heading"><h2>社長の一言</h2>
             <p>Message from the President</p></div>

      <%= image_tag("No-image-available.jpg", :class=> "image_president") %>
      
      <p>現在中小企業では、勤怠管理を明確に管理出来ている会社が少ないのはご存知でしょうか？</br></br>
      『労働基準法』『最低賃金法』会社を運営する上で嫌でも耳にする言葉です。</br></br>
      本来、会社を守るために必ず覚えておくべき事項ですが、毎年変化する法律に中小企業が対応する事が非常に困難と言われています。</br></br>
      現在の中小企業で全ての法律を遵守出来ている企業は１０％にも満たないと言われています。</br></br>
      しかし、この法律は万一の労務トラブルや国の調査が入った際に問題が発生した場合、会社の運営継続が困難な程に社会的信用を傷つける可能性も。</br></br>
      『SMART』では、出勤表・給与明細を生成する上で、法的に違反する部分を指摘し、法律に遵守するシステムに構築する事で、企業の健全な運営をサポートします。</p>
</div>



  <div class="green-wrapper">
  
             <div class="heading"><h2>会社情報</h2>
             <p>Company</p></div>

<table>
        			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
	<tr>
		<th>会社名</th>
		<td>株式会社Crold Valieat</td>
	</tr>
	<tr>
		<th>代表取締役</th>
		<td>奥山健太</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td>03-6712-7837</td>
	</tr>
	<tr>
		<th>FAX番号</th>
		<td>03-6712-7838</td>
	</tr>
	<tr>
		<th>郵便番号</th>
		<td>〒150-0032</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>東京都渋谷区鶯谷町19-19第三叶ビル303</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>info@crold-valieat.jp</td>
	</tr>
	<tr>
		<th>資本金</th>
		<td>270万円</td>
	</tr>
	<tr>
		<th>会社URL</th>
		<td>http://www.crold-valieat.jp/</td>
	</tr>
	<tr>
		<th>事業内容</th>
		<td>勤怠管理システムの管理・保守運用事業</br>
			   企業研修事業</br>
			   資産運用サポート事業</br>
			   助成金申請紹介サポート事業</br>
		</td>
	</tr>
</table>
</div>

  <div class="beige-wrapper">
  
             <div class="heading"><h2>沿革</h2>
             <p>History</p></div>
             
<table>
        			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
	<tr>
		<th>2013年7月</th>
		<td>愛知県名古屋市中村区にCrold Valieat設立し、ラッピング広告事業『Sign Board Tower』、LED等経費節約事業を行う。</td>
	</tr>
	<tr>
		<th>2014年12月</th>
		<td>本社を東京都渋谷区に移転し、WEB自動更新システム『アシストマネージャーの運営』</td>
	</tr>
	<tr>
		<th>2015年1月</th>
		<td>株式会社Crold Valieat設立</td>
	</tr>
	<tr>
		<th>2016年1月</th>
		<td>『助成金申請サポート事業』を開始</td>
	</tr>
	<tr>
		<th>2018年4月</th>
		<td>企業研修事業を開始</td>
	</tr>
	<tr>
		<th>2018年6月</th>
		<td>顧客管理システムの運用開始</td>
	</tr>
</table>
</div>
</main>