														  <!--　メイン　-->
														  
														  
  <div class="index-wrapper">
    	<div class="container" "shadow">
     			 <h1>CREATE THE GOLD VALUE</br>
     			 CONSULTING IS SUPPORTED</h1></br>
      			 <p>『最高の価値を想像する』</p>
      			 <p>Crold Valieatは、企業取引の中で常に</p>
      			 <p>『最高/Gold』『価値/Create』『想像/Create』</p>
      			 <p>の３つを念頭に運営を行なっております。</p>
 	 	</div>
  </div>
  
  
  
  
  
                                                      <!--　プロダクト　-->
                                                      
                                                      
  <div class="green-wrapper">
  
            <div class="heading"><h2>PRODUCT</h2>
            <p>プロダクト</p></div>

                <div class="product">
                    <div class="product-icon">
                             <h3>助成金コンサルティングサポート</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">毎年度、厚生労働省より助成金が発表されます。研修を計画的に実施したり、正社員に転換することで助成金が受給出来ます。</p>
               </div>
               
              <div class="product">
                    <div class="product-icon">
                             <h3>企業研修コンサルティング</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">各業種毎の研修商材を提供致しております。助成金と組み合わせることで、教育をしながら助成金を受給することが出来ます。</p>
               </div>
               
               <div class="product">
                    <div class="product-icon">
                             <h3>勤怠管理システム</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">勤怠管理は法律や保存義務等、覚える事は多岐に渡ります。当社では自社開発勤怠管理システム『SMART』により企業の勤怠を徹底サポートします。</p>
               </div>
               
               <div class="product">
                    <div class="product-icon">
                             <h3>労務管理コンサルティング</h3>
                        <%= image_tag("No-image-available.jpg", :class=>"image")%>
                    </div>
                            <p class="text-contents">雇用契約書、シフト表、給料明細、就業規則と作成義務書類は多数あります。当社では、勤怠システム活用によりPDFにて自動で上記を作成出来ます。</p>
               </div> 
                      <div class="clear"></div>

  </div>
  
  
  
                                                      <!--　プレスリリース　-->
                                                      
                                                      
<div class="beige-wrapper">

                <div class="heading"><h2>PRESS RELEASE</h2>
                <p>プレスリリース</p></div>

        <div class="press">
                <div class="presses">
                    <div class="press-icon">
                                <h3>出勤簿</h3>
                                <p>2018年11月25日</p>
                    </div>
                                <p class="text-contents">出勤簿やシフト表は記帳していない会社が非常に多いのが現状です。出勤簿は労働者の出勤状況の履歴を残しておくもので、給料支払いの際の証明となる非常に重要なデータとなります。『SMART』の勤怠管理システムなら、詳細の出勤状況をいつでも確認できます。</p>
               </div>
        </div>
        <div class="press">
                <div class="presses">
                    <div class="press-icon">
                                <h3>賃金台帳</h3>
                                <p>2018年11月25日</p>
                    </div>
                                <p class="text-contents">給与明細はしっかり記帳している企業は多いようですが、賃金台帳を記帳している企業は意外と少ないのが現状です。また、記帳方法が間違っている企業は非常に多く見受けられます。『SMART』の勤怠管理システムなら、自動計算により、分かりづらい控除の計算もなくなります。</p>
              </div>
        </div>
        <div class="press">
                <div class="presses">
                     <div class="press-icon">
                                <h3>有給台帳</h3>
                                <p>2018年11月25日</p>
                    </div>
                                <p class="text-contents">有給台帳は近年義務化となりましたが、その浸透は中小企業での認知度は約３％程なのが現状です。また、有給の繰越等を計算するのは非常に手間ですね。『SMART』の勤怠管理システムなら従業員情報から自動生成されるため、有給休暇の計算今後は不要です。有給休暇の計算今後は不要です。</p>
               </div>
         </div>
                             <div class="clear"></div>
                       
                              <div class="presses_more">もっと見る</div>

  </div>

  

                                                     <!--　インフォメーション　-->
                                                      
<div class="green-wrapper">

                <div class="heading"><h2>Information</h2>
                 <p>インフォメーション</p></div>


        <div class="press">
                <div class="infos">
                    <div class="press-icon">
                                <h3>勤怠管理システム提供開始</h3>
                                <p>2018年11月25日</p>
                    </div>
                                <p class="text-contents">出勤簿やシフト表は記帳していない会社が非常に多いのが現状です。出勤簿は労働者の出勤状況の履歴を残しておくもので、給料支払いの際の証明となる非常に重要なデータとなります。『SMART』の勤怠管理システムなら、詳細の出勤状況をいつでも確認できます。</p>
               </div>
        </div>
        <div class="press">
                <div class="infos">
                    <div class="press-icon">
                                <h3>美容師研修販売開始</h3>
                                <p>2018年11月25日</p>
                    </div>
                                <p class="text-contents">給与明細はしっかり記帳している企業は多いようですが、賃金台帳を記帳している企業は意外と少ないのが現状です。また、記帳方法が間違っている企業は非常に多く見受けられます。『SMART』の勤怠管理システムなら、自動計算により、分かりづらい控除の計算もなくなります。</p>
              </div>
        </div>
        <div class="press">
                <div class="infos">
                     <div class="press-icon">
                                <h3>平成30年度助成金開始</h3>
                                <p>2018年11月25日</p>
                    </div>
                                <p class="text-contents">有給台帳は近年義務化となりましたが、その浸透は中小企業での認知度は約３％程なのが現状です。また、有給の繰越等を計算するのは非常に手間ですね。『SMART』の勤怠管理システムなら従業員情報から自動生成されるため、有給休暇の計算今後は不要です。有給休暇の計算今後は不要です。</p>
               </div>
        </div>
                             <div class="clear"></div>                        
                              <div class="presses_more">もっと見る</div>
</div>    







                                                      <!--　よくある質問　-->
                                                      
                                                      
  <div class="beige-wrapper">

                    <div class="heading"><h2>About Service</h2>
                    <p>よくある質問</p></div>
          <div class="faq">
            <ul id="faq-list">
                    <li class="faq-list-item">
                       <!--　よくある質問その１　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その２　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その３　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その４　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その５　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その６　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その７　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その８　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その９　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>
                    <li class="faq-list-item">
                       <!--　よくある質問その１０　-->
                        <h3 class="question">労働基準法をあまり理解出来ていないのですが。。。</h3>
                            <span>+</span>
                                <div class="answer">
                                    <p>『SMART』では、労働基準法に徹底的に遵守したシステムとなっております。違法に捉えられやすいサービス業でも遵守出来る基準となっているため、安心してご利用頂けます。</p>
                                </div>
                    </li>

            </ul>
        </div>
    </div>
  </div>
 
  
   <!--　お申し込み画面への誘導　-->
  <div class="green-wrapper">
  
      			<div class="heading"><h2>CONTACT</h2>
      			 <p>お問い合わせ</p></div>
        				<h3>ご不明点があれば以下問い合わせフォームよりお気軽にお問い合わせ下さい</h3>
        				
        				<span class="btn message signup-show">問い合わせフォームへ</span>
  </div>
      			
    


  
    <!--　以下フッター　-->
  <footer>
  									    <p>SMARTで人材管理をとってもお手軽に</p>
  </footer>
  
  
    <!--　ジャバスクリプト読み込み　-->
					<script src="script.js"></script>
			</body>
</html>