  <div class="beige-wrapper">
  
            <div class="heading"><h2>業務マニュアル</h2>
            <p>Work Manual</p></div>
            
<ul>
	<li><a href="#" class="square_btn_faq">テレアポ</a></li>
	<li><a href="#" class="square_btn_faq">営業</a></li>
	<li><a href="#" class="square_btn_faq">申込フォーム</a></li>
	<li><a href="#" class="square_btn_faq">計画書作成</a></li>
	<li><a href="#" class="square_btn_faq">制度開始</a></li>
	<li><a href="#" class="square_btn_faq">支給申請</a></li>
</ul>

</div>