  <div class="beige-wrapper">
  
            <div class="heading"><h2>FAQコンテンツ</h2>
            <p>Faq Contents</p></div>


 <table>
     <tbody>
      <tr>
        <th>タイトル</th>
        <th>選択</th>
        <th>コンテンツ</th>
　  </tr>
　  <tr>
        <td><%= @faq.title %></td>
        <td><%= @faq.select %></td>
        <td><%= @faq.contents %></td>
　  </tr>
	</tbody>
 </table>