<%= mail_to @customer.mail, @customer.mail,cc: 'info@ri-plus.jp',subject: "Okurite Neo資料送付のご案内",body: "#{@customer.company} #{@customer.first_name}様\n\nお世話になっております。株式会社Ri-Plus#{@user&.user_name}でございます。\n\n先ほどは突然のご連絡ながら対応頂き、誠にありがとうございました。\n\n改めて当社は、マーケティング代行を生業としている企業となります。\n\n以下、今回ご案内させて頂きました案件の資料URLをお送りさせて頂きます。\n\n 【資料URLリンク：https://ri-plus.jp/】 \n\nご確認の程、よろしくお願い致します。\n\n株式会社Ri-Plus\n電話番号：050-5480-1131\nMail：info@ri-plus.jp\nURL：https://ri-plus.jp\n所在地：〒104-0061 東京都中央区銀座6-13-16 ヒューリック銀座ウォールビル7階\n問い合わせ時間：09:00-16:45",target:"_blank"  %>


