- set_meta_tags noindex: true
.tops-wrapper
 h2.headline
    | コールリスト
    | (
    = @customers.current_page * 30 - 29
    | ~
    = [@customers.page(1).per(30).total_count, @customers.current_page * 30].min
    | 件/
    = @customers.page(1).per(30).total_count
    | 件中
    | )

= form_tag({ controller: :customers, action: :destroy_all}, method: 'delete') do
 .scroll
  table[width="90%" cellpadding="0" cellspacing="0"]

    thead
      tr
        th
          = submit_tag '削除'
        th
          | 会社名
        th
          | 電話番号
        th
          | 住所
        th
          | ステータス
        th
          | 担当者
        th
          = sort_link(@q, :created_at)
        th
          = sort_link(@q, :updated_at)
        th
          | 編集/削除
    - @customers.includes(:last_call).each_with_index do |customer, index|
      tr
        td
          = check_box_tag "deletes[#{customer.id}]", customer.id
        td
          = link_to customer.company, customer_path(customer, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!)
        td
          = customer.tel
        td
          = customer.address
        td
          = customer.last_call.try(:statu)
        td
          = customer.calls.last&.user&.user_name
        td
          = customer.last_call.try(:created_at)
        td
          = customer.updated_at.strftime("%Y年%m月%d日 %H時%M分")
        td
          = link_to '編集', edit_customer_path(customer, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!), class: 'command'
          = link_to '削除',
          -                        customer_path(customer, q: params[:q]&.permit!, last_call: params[:last_call]&.permit!),method: :delete,class: 'command',data: { confirm: '本当に削除しますか？'}
    tr
      th[colspan="9"]
        = paginate @customers


#createTicket.modal.fade[tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true"]
  .modal-dialog
    .modal-content[style="width:900px; margin-left: -200px;"]
      .modal-header
        button.close[type="button" data-dismiss="modal" aria-hidden="true"]
          | ×
      .modal-body
        = search_form_for @q do |f|
          table.space[width="90%"]
            col[width="20%"]
            col[width="30%"]
            col[width="20%"]
            col[width="30%"]
            tbody
              tr
                th[colspan="4"]
                  | 検索
              tr
                th
                  | 会社名
                td
                  = f.search_field :company_cont, type: "text"
                th
                  | 担当者名
                td
                  = f.search_field :calls_user_user_name_cont, type: "text"
              tr
                th
                  | 電話番号
                td
                  = f.search_field :tel_cont, type: "text"
                th
                  | 検索条件
                td
                  = f.search_field :industry_cont, type: "text"
              tr
                th
                  | 架電回数
                td
                  = f.search_field :calls_count_lt, type: "number"
                th
                  | 住所
                td
                  =  f.collection_select :address_cont_any, JpPrefecture::Prefecture.all, :name, :name, {include_blank: '選択してください'},
                  {class: 'form-control', id: 'search_prefecture', multiple: true}
              tr
                th
                  | 電話番号有りのみ表示
                td
                  = f.search_field :tel, {type: 'checkbox', checked: true }
                th
                  | SFA
                td
                  = f.search_field :choice_cont, type: "text"
              tr
                th
                  | 未コール
                td
                  = f.search_field :calls_id_null, type: 'checkbox', value: 'true'
                th
                  | 最終コール状態
                td
                  = select_tag "last_call[statu]",options_for_select( [""] + Call.StatuItems, @last_call_params[:statu]), multiple: true, class: "form-control"
              tr
                th
                  | 見込コール日時（最初）
                td
                  #time_from_datetimepicker.input-group.date
                    = date_field_tag "last_call[time_from]", @last_call_params[:time_from], class: "form-control"
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
                th
                  | 見込コール日時（最後）
                td
                  #time_to_datetimepicker.input-group.date
                    = date_field_tag "last_call[time_to]", @last_call_params[:time_to], class: "form-control"
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
                  - # text_field_tag "last_detail[created_at_from]", @last_detail_params[:created_at_from], class: "datetimepicker"
                  - # text_field_tag "last_detail[created_at_to]", @last_detail_params[:created_at_to], class: "datetimepicker"
              tr
                th
                  | 最終コール日時（最初）
                td
                  #created_at_from_datetimepicker.input-group.date
                    = date_field_tag "last_call[created_at_from]", @last_call_params[:created_at_from], class: "form-control"
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
                th
                  | 最終コール日時（最後）
                td
                  #created_at_to_datetimepicker.input-group.date
                    = date_field_tag "last_call[created_at_to]", @last_call_params[:created_at_to], class: "form-control"
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
              tr
                th
                  | 最終インポート日時（最初）
                td
                  = f.date_field :created_at_gteq, class: 'date-picker form-control'
                th
                  | 最終インポート日時（最後）
                td
                  = f.date_field :created_at_lteq, class: 'date-picker form-control'
              tr
                th
                  | 最終アップデート日時（最初）
                td
                  = f.date_field :updated_at_gteq, class: 'date-picker form-control'
                th
                  | 最終アップデート日時（最後）
                td
                  = f.date_field :updated_at_lteq, class: 'date-picker form-control'
              tr
                th[colspan="4"]
                  = f.submit '検索'
        br
.heading
  h2
    | インポート
= form_tag import_customers_path, multipart: true do
  table.space[width="90%"]
    tbody
      tr
        th[colspan="3"]
          | CUSTOMER_CSVファイルインポート
      tr
        td
          = file_field_tag :file
        th
          = submit_tag "インポート",  class: 'btn btn-success'
        th
          = link_to 'エクスポート', customers_path(format: :csv), class: 'btn btn-success'
