  <div class="sub-wrapper">
  
       <div class="heading">
            <h2>お申し込みが完了しました。</h2>
            </br>
            <p>当社よりこれより申請書類の作成に入らせて頂きます。書類が到着しましたら、署名・押印の上、ご返送よろしくお願い致します。</p>
            </br>
            </br>
            </br>
            <%= image_tag("ques.png", :class => "ques")%>
            </br>
            </br>
            </br>
            <p><%= link_to 'トップページに戻る', '/' %></p>
       </div>
 </div>