


<ul>
    <% @todos.each do |todo|%>
    <li class="box square_btn_faq"><%= link_to todo.title, todo_path(todo), remote: true  %>
                    <%= link_to '削除',
                        todo_path(todo),
                        method: :delete,
                        class: 'command',
                        data: { confirm: '本当に削除しますか？'} %></li>
    <% end %>
</ul>
