/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*ベース情報*/



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";  /*書体はヒラギノフォントを利用します。*/
  width: 100%;
  background-color: rgba(241, 244, 248, 1.0);  /*【バックカラー】ブルー*/
}

a {
  text-decoration: none;
}

.none {
  display: none;
}


/*ヘッダーのベース設定*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 51, 204, 0.9);   /*【バックカラー】ブルー*/
  position: fixed;
  top: 0;
  z-index: 10;
}

/*ロゴ指定*/
  .menu_icon {
  height: 80px;
}
    
/*ロゴは左へ*/
.header-left {
  float: left;
  display: flex;
  line-height: 65px;
}

/*ヘッダーナビは右へ*/

.header-right {
  float: right;
  margin-right: -25px;
  font-size: 15px;
  text-shadow: 2px 3px 1px #000;
}

/*ヘッダーナビの位置設定*/

.header-right a {
  line-height: 65px;
  padding: 0 13px;
  color: white;
  display: block;
  float: left;
  position: relative;
  transition: all 0.5s;
}
  
  /*ヘッダーの上にマウスを置くと色変化*/
 .header-right a:hover {
  background-color: rgba(0, 162, 255, 0.9);   /*【マウスオーバーカラー】ブルー*/
}


/*エラー・編集コマンド共通*/
.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}

.command {
  font-size: 10px;
}


/*メインのサイズ*/
main {
  margin-top: 65px;
  margin-bottom: 100px;
}


/*テーブル共通*/

table, td, th {
  border: 8px rgba(213, 243, 249) solid;
  /*ベージュ*/
  border-collapse: collapse;
  text-align: center;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}

caption {
  font-weight: bold;
  font-size: 18px;
}

td, th {
  padding: 10px;
  height: 15px;
  font-size: 12px;
}

th {
  /*ブルー*/
  background-color: rgba(0, 180, 255, 0.8);
  font-weight: bold;
  width: 300px;
}

td {
  /*グレー*/
  background-color: #e6ecf0;
  width: 200px;
}

.table_title {
  margin-left: 330px;
  background-color: transparent;
  width: 350px;
}



/*必須項目*/
.label {
  margin-left: 5px;
}



/*幅・位置の指定*/
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



/* takigawa */
li.progress-list-item {
  list-style-type: none;
}

.inline-block{
  display: inline-block;
}




