/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*ベース情報*/
@import "bootstrap";
@import "comments.scss";
@import "companies.scss";
@import "contact.scss";
@import "details.scss";
@import "faqs.scss";
@import "companies.scss";
@import "scaffolds.scss";
@import "tops.scss";
* {
  box-sizing: border-box;
}

/*書体はヒラギノフォントを利用します。*/

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  width: 100%;
  /*【バックカラー】ブルー*/
  background-color: rgba(241, 244, 248, 1.0);
}

a {
  text-decoration: none;
}

.none {
  display: none;
}

/*ヘッダーの始まり*/

/*ヘッダーのベース設定*/

header {
  height: 65px;
  width: 100%;
  /*【バックカラー】ブルー*/
  background-color: rgba(0, 51, 204, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

/*ロゴ指定*/

.menu_icon {
  height: 65px;
}

/*ロゴは左へ*/

.header-left {
  float: left;
  display: flex;
  line-height: 65px;
}

.header_search{
    margin-left:40px;
}

/*ヘッダーナビは右へ*/

.header-right {
  float: right;
  margin-right: -25px;
  font-size: 15px;
  text-shadow: 2px 3px 1px #000;
}

/*ヘッダーナビの位置設定*/

.header-right a {
  line-height: 65px;
  padding: 0 13px;
  color: white;
  display: block;
  float: left;
  position: relative;
  transition: all 0.5s;
}

/*ヘッダーの上にマウスを置くと色変化*/

.header-right a:hover {
  /*【マウスオーバーカラー】ブルー*/
  background-color: rgba(0, 162, 255, 0.9);
}

/*ヘッダーの終わり*/

/*エラー・編集コマンド共通*/

.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}

.command {
  font-size: 10px;
}

/*メインのサイズ*/

main {
  margin-top: 65px;
  margin-bottom: 100px;
}

/*テーブル共通*/

table, td, th {
  border: 8px rgb(213, 243, 249) solid;
  /*ベージュ*/
  border-collapse: collapse;
  text-align: center;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}

caption {
  font-weight: bold;
  font-size: 18px;
}

td, th {
  padding: 10px;
  height: 15px;
  font-size: 12px;
}

th {
  /*ブルー*/
  background-color: rgba(0, 180, 255, 0.8);
  font-weight: bold;
  width: 300px;
}

td {
  /*グレー*/
  background-color: #e6ecf0;
  width: 200px;
}

.table_title {
  margin-left: 330px;
  background-color: transparent;
  width: 350px;
}

.list_table {
  margin-left: 370px;
}

/*必須項目*/

.label {
  background-color: orange;
  /*オレンジ*/
  margin-left: 5px;
}

.infobox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 20em;
  /* 高さを制限(※) */
  width: 700px;
  overflow: scroll;
  /* スクロールバーを表示(※) */
  border: #2CA676 3px border;
  /* 枠線を追加 */
  background-color: #fff;
  /* 背景色を追加 */
}

.center {
  text-align: center;
}

.box7 {
  padding: 1.0em;
  margin: 2em 0;
  margin-left: 100px;
  margin-right: 100px;
  background: #2CA676;
  ;
  /*背景色*/
  border-left: double 7px #4ec4d3;
  /*左線*/
  border-right: double 7px #4ec4d3;
  /*右線*/
  list-style-type: none;
}

.box7 li {
  margin: 0;
  padding: 0;
}

/*メイン*/

.main-wrapper {
  padding: 30px 50px 100px 0;
  background-image: url(gata.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: black;
}

/*幅・位置の指定*/

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*背景色を記述しています。*/

.base-wrapper {
  background-color: rgba(0, 180, 255, 0.6);
  /*ブルー*/
  padding-bottom: 50px;
  text-align: center;
}

.sub-wrapper {
  background-color: rgba(241, 244, 248, 1.0);
  /*薄いブルー*/
  padding-bottom: 50px;
  text-align: center;
}

/*こんなお悩みありませんか？*/

.list {
  text-align: left;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  opacity: 0.8;
  padding-left: 600px;
}

.image-left {
  width: 400px;
  margin-left: 60px;
  margin-top: 25px;
  float: left;
}

/* takigawa */

li.progress-list-item {
  list-style-type: none;
}

.inline-block{
  display: inline-block;
}


/*companies/commentデータ*/

.list_display ul  {
    list-style-type: none;
 border: 1px solid #000000;
 padding: 5px;
}

.list_display ul  li {
    color: #43acff;
}


// .scroll{
//   white-space: nowrap; /* tableのセル内にある文字の折り返しを禁止 */
//   overflow: auto;　　　　/*tableをスクロールさせる*/
// }
// .scroll::-webkit-scrollbar{　　/*tableにスクロールバーを追加*/
// height: 5px;
// }
// .scroll::-webkit-scrollbar-track{　　/*tableにスクロールバーを追加*/
// background: #F1F1F1;
// }
// .scroll::-webkit-scrollbar-thumb {　　/*tableにスクロールバーを追加*/
// background: #BCBCBC;
// }

.scroll-table {
  overflow: auto;
  white-space: nowrap;
  border: solid 1px #ddd;
  table {
    margin: 0;
    border: none;
    width:90%;
  }
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgba(0, 180, 255, 0.8);
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin:15px 15px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
