// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*テーブル情報*/

/*約款*/
.infobox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 20em;
  /* 高さを制限(※) */
  width: 700px;
  overflow: scroll;
  /* スクロールバーを表示(※) */
  border: #2CA676 3px border;
  /* 枠線を追加 */
  background-color: #fff;
  /* 背景色を追加 */
}

.center {
  text-align: center;
}

.inside th{
	background-color:#A4C6FF;
}


/*companies/commentデータ*/
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgba(0, 180, 255, 0.8);
    color: black;
    font-size:14px;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin:15px 15px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

