// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




                                        /*インデックスの内容を記述しています。*/


                                    
.index-wrapper {
  padding: 30px 50px 100px 0;
  background-image: url(hachikin.png);
  background-size:40%;
  background-repeat: no-repeat;
  background-position:right bottom;
  color: black;
}
.index-wrapper h1 {
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px;
  padding-left:30px;
  line-height:80px;
}
.index-wrapper p {
  opacity: 0.7;
  font-size: 18px;
  margin-bottom: 40px;
  padding-left:40px;
  font-weight:bold;
}







.kintai-wrapper {
  padding: 30px 50px 100px 0;
  background-image: url(hachikin.png);
  background-size:40%;
  background-repeat: no-repeat;
  background-position:right bottom;
  color: black;
}
.kintai-wrapper h1 {
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px;
  padding-left: 30px;
  line-height: 80px;
}
.kintai-wrapper p {
  opacity: 0.7;
  font-size: 18px;
  margin-bottom: 40px;
  padding-left:40px;
  font-weight:bold;
}




.jyoseikin-wrapper {
  padding: 30px 50px 100px 0;
  background-image: url(gata.jpg);
  background-size:40%;
  background-repeat: no-repeat;
  background-position:right bottom;
  color: black;
}
.jyoseikin-wrapper h1 {
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px;
  padding-left:30px;
  line-height:80px;
}
.jyoseikin-wrapper p {
  opacity: 0.7;
  font-size: 18px;
  margin-bottom: 40px;
  padding-left:40px;
  font-weight:bold;
}
                                    
    
    

                                        /*メイントップの内容を記述しています。*/
                                        
                                        
                                        
.main-wrapper {
  padding: 150px 50px 100px 0;
  background-image: url(top.png);
  background-size:50%;
  background-repeat: no-repeat;
  color: black;
}


/*メイントップの文字を『H1タグ』の記述*/
.main-wrapper h1 {
  opacity: 0.7;
  font-size: 50px;
  letter-spacing: 5px;
  padding-left:30px;
}

/*メイントップの文字を『pタグ』の記述*/
.main-wrapper p {
  opacity: 0.7;
  font-size: 18px;
  margin-bottom: 40px;
  padding-left:30px;
  font-weight:bold;
}



                                                        /*題名共通で記述しています。*/


.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: bold;
  text-align:center;
  font-size:30px;
}

.heading h3 {
  font-weight: bold;
  text-align:center;
  font-size:24px;
}

/* ヘッダーのスパンカラー指定*/
.heading span   {
    color:red;
    font-weight:bold;
}


                                                                    
                                                            /*背景色を記述しています。*/
                                                            
                                                            
.green-wrapper {
  background-color: rgba(0,180,255,0.6);     /*ブルー*/
  padding-bottom: 50px;
  text-align: center;
}

.beige-wrapper {
  background-color: rgba(0,180,255,0.2);    /*薄いブルー*/
  padding-bottom: 50px;
  text-align: center;
}



                                                            /*商品内容５カラム*/
                                                                                               
                                                            
.five_column {
  float: left;
  width: 20%;
}
.five_columnt-icon .image{
  width:250px;
}
.five_column-icon {
  position: relative;
}
.five_column-icon .image {
  width: 65%;
}
.five_column-icon p {
  margin-top:-160px;
}





                                                            /*商品内容４カラム*/
                                                                                               
                                                            
.product {
  float: left;
  width: 25%;
}
.product-icon .image{
  width:250px;
}
.product-icon {
  position: relative;
}
.product-icon .image {
  width: 65%;
}




                                                            /*商品内容３カラム*/
                                                                                               
                                                            
.performance {
  float: left;
  width: 33%;
}
.performance-icon .image{
  width:250px;
}
.performance-icon {
  position: relative;
}
.performance-icon .image {
  width: 50%;
}





                                                 /*プレスリリースに記述します。*/
                                                 


.presses {
    padding: 0.5em 1em;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: rgba(97,216,54,0.2);
    border: solid 3px #217B57;/*線*/
    border-radius: 10px;/*角の丸み*/
    color:#217B57;      /*ヘッダーカラーグリーン*/
}
                                                 
                                                 
.press {
  float: left;
  width: 33%;
}
.press-icon .image{
  width:250px;
}
.press-icon {
  position: relative;
}
.press-icon p {
  width: 100%;
}




                                                 /*インフォメーションを記述します。*/
                                                 
                                              
.infos {
    padding: 0.5em 1em;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #F2F2E1;
    border: solid 3px #217B57;/*線*/
    border-radius: 10px;/*角の丸み*/
    color:#217B57;      /*ヘッダーカラーグリーン*/
}                                        



                                                 /*もっと見るを記述します。*/


.presses_more{
    width:150px;
    height:25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align:center;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #217B57;/*線*/
    border-radius: 10px;/*角の丸み*/
    color:#217B57;      /*ヘッダーカラーグリーン*/
}



                                                 /*会社概要を記述します。*/


.image_president{
    margin-left:70px;
    margin-right:40px;
    float:left;
    witdh:120px;
}



.image2 {
    float: left;
    margin-left:30px;
    margin-right:80px;
    width:350px;
      }
      
.image3 {
    float: left;
    margin-right:80px;
    height:150px;
      }
      
      
.green_wrapper .introduce{
    position:absolute;
    width:300px;
    top:10px;
    left:10px;
}

.clear {
  clear: left;
}



/*三番目のメイン記述のベース*/

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon .image{
  width:250px;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 35%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
}



/*七番目のメイン記述のベース よくある質問 */

.faq-wrapper {
  background-color: #e6ecf0;
  text-align: center;
  padding-bottom: 80px;
  color: #5f5d60;
}

#faq-list   {
    width: 500px;
    margin:0 auto;
    padding: 0;
    list-style: none;
}

.faq-list-item  {
    margin:10px;
    border-bottom:1px solid #ccc;
    position:relative;
    cursor:pointer;
    text-align:left;
}

.faq-list-item h3   {
    font-size: 14px;
}

.faq-list-item  span    {
    position:absolute;
    top: 0;
    right: 5px;
    color: #ccc;
    font-size: 13px;
}

.answer {
    font-size:  12px;
    padding: 5px 0px;
    margin-bottom: 15px;
    display: none;
}




footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}




.merit_wrapper{
  padding-left: 5%;
  padding-right: 5%;
  background-color: #F2F2E1;     /*ベージュ*/
  text-align: center;
  position:relative;
}

.introduce {
    width:300px;
    position:absolute;
    top:-42px;
    right:80px;
}


.merit-title {
  padding-top: 8px;
  padding-bottom: 3px;
  margin-left: 5%;
  margin-right: 5%;
  background-color:white;
  text-align: center;
  position:relative;
  height:330px;
  margin-bottom:50px;
}

.merit-title h2{
    margin-left:280px;
    margin-top:50px;
}

.merit-contents {
    margin-top:60px;
}

.gizagiza {
    width:180px;
    position:absolute;
    left:-10px;
    top:-35px;
}

.number {
    position:absolute;
    z-index:1;
    left:60px;
    top:15px;
    font-size:50px;
    color:yellow;
    font-weight:bold;
     text-shadow: 0.1em 0.1em 1px #000;
   opacity: 0.9;
}

.merit-image {
    float:left;
    width:250px;
    margin-right:30px;
    margin-left:30px;
}

.merit-title h2 {
    line-height:30px;
}

.ques {
    width:65%;
    margin-top:45px;
}

span {
    color:red;
}

