 <div class="beige-wrapper">
  
            <div class="heading"><h2>ドキュメントアップロード</h2>
            </div>

    <table width="90%">
     <tbody>
       <% @upload = UploadFile.new %>
    <%= form_for @upload, :url => {:action => :upload} do |f| %>
      <tr>
        <th>ファイル名</th>
        <th>ファイル添付</th>
　  </tr>
      <tr>
        <td><%= f.text_field :name %></td>
        <td><%= f.file_field :file %></td>
      </tr>
      <tr>
        <td colspan = "2"><%= f.submit "アップロード" %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table> 
    
    </br>
    </br>