    <div class="heading"><h2>ドキュメントダウンロード</h2>
            </div>
    
    <table width="90%" data-turbolinks="false">
     <tbody>
          <% UploadFile.all.reverse_order.each do |upload| %>
        <tr>
            <th>ファイル名</th>
            <td><%= link_to upload.name, {action: "view", id: upload.id} %></td>
            <td><%= link_to "download", {action: "download", id: upload.id} %></td>
        </tr>
      <% end %>
      </tbody>
    </table> 

 </div>



