br
=image_tag 'contact.gif', width: '100%'

.tops-wrapper.center
h1.headline  お問い合わせ頂きありがとうございました。

p
  | 確認後、担当者よりご連絡させて頂きます。
p
   = link_to "トップページへ戻る", "/"
br
br


script
  |  gtag('event', 'conversion', {'send_to': 'AW-682629949/bzCpCIrS-NABEL22wMUC'});
