  <div class="sub-wrapper">
  
            <div class="heading"><h2>お問い合わせいただきありがとうございました。</h2>
            <p>Thank you so much</p></div>
            
            <div class="heading">
            <p><%= link_to 'トップページに戻る', '/' %></p>

            
 </div>