/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/*ベース情報*/
@import "bootstrap";

$main_color:#821927;
$sub_color:#8D3C4C;
$gray_color:#e6ecf0;

* {box-sizing: border-box;}
a {text-decoration: none;}
.none {display: none;}


body {
  margin: 0;
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;  /*書体はヒラギノフォントを利用します。*/
  width: 100%;
}
/*ヘッダーのベース設定*/
header {
  width: 100%;
  background-color: $main_color;   /*【バックカラー】ブルー*/
  position: fixed;
  top: 0;
  z-index: 10;

  .header-left {
    font-size: 15px;
    text-shadow: 2px 3px 1px #000;

    a {
      line-height: 65px;
      padding: 0 13px;
      color: white;
      display: block;
      float: left;
      position: relative;
      transition: all 0.5s;
      }

      a:hover {
       background-color: $sub_color;   /*【マウスオーバーカラー】ブルー*/
     }
    }

    .header-right {
      float: right;
      font-size: 15px;
      text-shadow: 2px 3px 1px #000;
      }
}

/*エラー・編集コマンド共通*/
.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}

.command {font-size: 10px;}


/*メインのサイズ*/
main {
  margin-top: 65px;
  margin-bottom: 100px;
}


/*テーブル共通*/

table, td, th {
  border: 8px white solid;
  /*ベージュ*/
  border-collapse: collapse;
  text-align: center;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;

  caption {
    font-weight: bold;
    font-size: 18px;
    }

  td, th {
    padding: 10px;
    height: 15px;
    font-size: 12px;
    }

  th {
    background-color: $main_color;
    color:white;
    font-weight: bold;
    width: 300px;
    }

  td {
    background-color:$gray_color;
    width: 200px;
    }

  .table_title {
    margin-left: 330px;
    background-color: transparent;
    width: 350px;
    }

  textarea {
    resize: none;
    width:100%;
    height:50px;
    }

  .long-text {
    width:100%;
  }

  .big-area {
    resize: none;
    height: 200px;
  }
}

/*必須項目*/
.label {margin-left: 5px;}

/*幅・位置の指定*/
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* takigawa */
li.progress-list-item {
  list-style-type: none;
}
.inline-block{
  display: inline-block;
}

/*companies/commentデータ*/
.list_display ul  {
    list-style-type: none;
 border: 1px solid #000000;
 padding: 5px;
}
.list_display ul  li {
    color: #43acff;
}

.scroll-table {
  overflow: auto;
  white-space: nowrap;
  border: solid 1px #ddd;
  table {
    margin: 0;
    border: none;
    width:90%;
  }
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgba(0, 180, 255, 0.8);
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin:15px 15px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}





                                                        /*題名共通*/
.heading {
  padding-top: 70px;
  padding-bottom: 30px;
  color: #5f5d60;
  font-weight: bold;
  text-align:center;
        h2 {
            font-size:30px;
            font-weight:bold;
        }
        h3 {
            font-size:24px;
        }
        span   {
            color:red;
        }
}



.two_column {
  float: left;
  width: 50%;
  position: relative;
    .over-image{
        width:80%;
    }
    .front-color {
        background-color: rgba(0, 180, 255, 0.6);
    }
    h4{
      color: black;
      background: #D6D5D5;  /*ブルー*/
      line-height: 2.5;
      font-weight:bold;
      font-size:18px;
      width:80%;
      border-left : solid 100px #00A2FF;/*先の色＝アイコン裏の色*/
      margin:auto;
      }
    p{
      color: black;
      width:80%;
      margin:10px auto 50px;
      }
    .title-with{
      color: white;
      font-weight:bold;
      font-size:18px;
      position: absolute;
      top:13px;
      left:80px;
    }
}




.clear {
  clear: left;
}

span {
    color:red;
}
.header-table {
  margin-top:-55px;
  a:visited { color:white;}
}


.white {
  color:white;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.center {
  margin:0 auto;
  text-align: center;
}


.notice {
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
  font-weight:bold;
}
