/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/*ベース情報*/
@import "bootstrap";

$main_color:#1D9186;
$sub_color:#3B7972;
$gray_color:#e6ecf0;
$asort_color: #2CE4D3;

* {box-sizing: border-box;}
a {text-decoration: none;}
.none {display: none;}

body {
  margin: 0;
  font-family: 'ヒラギノ角ゴ ProN W3';  /*書体はヒラギノフォントを利用します。*/
  width: 100%;
}

main{
  margin-top:-70px;
  padding-left:50px;
  margin-bottom:30px;
}

/*ヘッダーのベース設定*/
header {
width:100%;
background-color:white;
position: sticky;
top: 0;
z-index:150;
.header-image {
max-width:250px;
height: 100%;
margin-left:30px;
}
.navi {
background-color:$main_color;
line-height:middle;
height:40px;
a {
text-decoration: none;
color:white;
text-shadow: 1px 1px 1px #000;
margin-top:auto;
margin-top:8px;
a:hover {
background-color: rgba(255,255,255,0.1);
}
}

}
.white {
color: white;
font-size:15px;
font-weight:bold;
}
#dropmenu{
list-style-type: none;
width: 100%;
height: 40px;
margin: 0 100px;
background: $main_color;
}
#dropmenu li{
position: relative;
width: 16.5%;
font-size:14px;
float: left;
text-align: center;
}
#dropmenu li a{
display: block;
margin: 0;
padding: 10px 0px 15px;
color: #fff;
font-size: 100%;
text-shadow: 1px 1px 1px #000;
line-height: 1;
text-decoration: none;
}
}

/*エラー・編集コマンド共通*/
.error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}

.command {font-size: 10px;}


.space {
  border: 8px white solid;
  /*ベージュ*/
  border-collapse: collapse;
  border-collapse: separate;
  tr:nth-child(odd) td {
    background: #fff;
  }
}

/*テーブル共通*/

table, td, th {
  text-align: center;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;

  tr:nth-child(odd) td {
  	background: #fff;
  }

  caption {
    font-weight: bold;
    font-size: 18px;
    }

  td, th {
    padding: 10px;
    height: 15px;
    font-size: 11px;

    }

  th {
    background-color: $main_color;
    color:white;
    font-weight: bold;
    width: 300px;
    }

  td {
    background-color:$gray_color;
    width: 200px;
    }

  .table_title {
    margin-left: 330px;
    background-color: transparent;
    width: 350px;
    }

  textarea {
    resize: none;
    width:100%;
    height:50px;
    }

  .long-text {
    width:100%;
  }

  .big-area {
    resize: none;
    height: 200px;
  }
}

/*必須項目*/
.label {margin-left: 5px;}

/*幅・位置の指定*/
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* takigawa */
li.progress-list-item {
  list-style-type: none;
}
.inline-block{
  display: inline-block;
}

/*companies/commentデータ*/
.list_display ul  {
    list-style-type: none;
 border: 1px solid #000000;
 padding: 5px;
}
.list_display ul  li {
    color: #43acff;
}

.scroll-table {
  overflow: auto;
  white-space: nowrap;
  border: solid 1px #ddd;
  table {
    margin: 0;
    border: none;
    width:90%;
  }
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgba(0, 180, 255, 0.8);
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin:15px 15px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}





                                                        /*題名共通*/
.heading {
  padding-top: 70px;
  padding-bottom: 30px;
  color: #5f5d60;
  font-weight: bold;
  text-align:center;
        h2 {
            font-size:30px;
            font-weight:bold;
        }
        h3 {
            font-size:24px;
        }
        span   {
            color:red;
        }
}



.two_column {
  float: left;
  width: 50%;
  position: relative;
    .over-image{
        width:80%;
    }
    .front-color {
        background-color: rgba(0, 180, 255, 0.6);
    }
    h4{
      color: black;
      background: #D6D5D5;  /*ブルー*/
      line-height: 2.5;
      font-weight:bold;
      font-size:18px;
      width:80%;
      border-left : solid 100px #00A2FF;/*先の色＝アイコン裏の色*/
      margin:auto;
      }
    p{
      color: black;
      width:80%;
      margin:10px auto 50px;
      }
    .title-with{
      color: white;
      font-weight:bold;
      font-size:18px;
      position: absolute;
      top:13px;
      left:80px;
    }
}




.clear {
  clear: left;
}

.header-table {
  margin-top:-55px;
  a:visited { color:white;}
}


.white {
  color:white;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.center {
  margin:0 auto;
  text-align: center;
}


.notice {
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
  font-weight:bold;
}


ul {
    padding: 0;
    width: 90%;
}
li {
    list-style-type: none;
}
dd {
    margin-left: 0;
}

.flow > li {
    position: relative;
}
.flow > li:not(:last-child) {
    margin-bottom: 40px;
}
.flow > li:not(:first-child)::before {
    content: "";
    height: 60px;
    display: block;
    border-left: 4px dotted $main_color;
    position: absolute;
    top: -40px;
    left: -webkit-calc(10% + 30px - 2px);
    left: calc(10% + 30px - 2px);
    z-index: 10;
}
.flow > li dl {
    width: 100%;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid $main_color;
    border-radius: 10px;
    position: relative;
}
.flow > li:not(:last-child) dl::before,
.flow > li:not(:last-child) dl::after {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.flow > li:not(:last-child) dl::before {
    border-width: 22px;
    border-top-color: $main_color;
}
.flow > li:not(:last-child) dl::after {
    border-width: 20px;
    border-top-color: #fff;
}
.flow > li dl dt {
    font-size: 20px;
    font-weight: 600;
    color: $main_color;
    -ms-flex-preferred-size: 20%;
    flex-basis: 25%;
    margin-right: 2vw;
    text-align: center;
}
.flow > li dl dt .icon {
    font-size: 12px;
    color: #fff;
    background: $gray_color;
    background: -moz-linear-gradient(left, $gray_color 0%, $main_color 100%);
    background: -webkit-linear-gradient(left, $gray_color 0%,$main_color 100%);
    background: linear-gradient(to right, $gray_color 0%,$main_color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
    padding: 5px 10px;
    margin-bottom: 10px;
    display: block;
    border-radius: 20px;
    position: relative;
    z-index: 9;
}


.tops-wrapper {
	margin:50px 10px;
	text-align:center;
	font-weight:bold;

	.headline {
		padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
		color: #494949;/*文字色*/
		background: #f4f4f4;/*背景色*/
		border-left: solid 5px $main_color;/*左線*/
		border-bottom: solid 3px #d7d7d7;/*下線*/
		text-align:left;
		padding-left:30px;
		margin:30px auto;
		width:95%;
		font-size:21px;
		font-weight:bold;
	    }
	p {
		line-height:2.5;
		font-size:18px;
		text-align:left;
		margin:50px;
	    }

	bold {
		font-weight:bold;
	    }

	span   {
        color: $main_color;
        font-size:45px;
        text-decoration: underline;
        font-weight:bold;
        }
}

.green-wrapper {
	margin:50px 0px;
	text-align:center;
	font-weight:bold;
  background-color:$main_color;

  .title-head {
   color:#fff;
   font-size:2.5em;
   font-weight:bold;
   }

	.headline {
		padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
		color: #494949;/*文字色*/
		background: #f4f4f4;/*背景色*/
		border-left: solid 5px $main_color;/*左線*/
		border-bottom: solid 3px #d7d7d7;/*下線*/
		text-align:left;
		padding-left:30px;
		margin:30px auto;
		width:95%;
		font-size:21px;
		font-weight:bold;
	    }
	p {
		line-height:2.5;
		font-size:18px;
		text-align:left;
		margin:50px;
	    }

	bold {
		font-weight:bold;
	    }

	span   {
        color: $main_color;
        font-size:45px;
        text-decoration: underline;
        font-weight:bold;
        }
}

.list-detail{
  padding:0 50px;
  .title {
   color:black;
   font-size:1.3em;
   font-weight:bold;
   }
}


.center {
  text-align:center;
  margin:0 auto ;
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa .cp_actab {
	position: relative;
  padding-left:15%;
	overflow: hidden;
	width: 90%;
	margin: 0 0 1em 0;
	color: $main_color;
}
.cp_qa .cp_actab input {
	position: absolute;
	opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	font-weight: bold;
	line-height: 1.6em;
	position: relative;
	display: block;
	margin: 0 0 0 0;
	padding: 1em 2em 1em 2.5em;
	cursor: pointer;
	text-indent: 1em;
	border-radius: 0.5em;
	background: rgba(27,37,56,0.1);
}
.cp_qa .cp_actab label::before {
	font-family: serif;
	font-size: 1.5em;
	margin-left: -2em;
	padding-right: 0.5em;
	content: 'Q';
}
.cp_qa .cp_actab label:hover {
	transition: all 0.3s;
	color: #00838f;
}
/* --質問の＋アイコン */
.cp_qa .cp_actab label::after {
	font-size: 1.7em;
	font-weight: bold;
	line-height: 2em;
	position: absolute;
	top: 0;
	right: 0;
	content: 'b';
	display: inline-block;
	width: 2em;
	height: 2em;
	-webkit-transition: transform 0.4s;
	        transition: transform 0.4s;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	position: relative;
	overflow: hidden;
	max-height: 0;
	padding: 0 0 0 2.5em;
	-webkit-transition: max-height 0.2s;
	        transition: max-height 0.2s;
	border-radius: 0 0 0.5em 0.5em;
}
.cp_qa .cp_actab .cp_actab-content::before {
	font-family: serif;
	font-size: 1.5em;
	position: absolute;
	margin: 0.4em 0 0 -1em;
	padding: 0;
}
.cp_qa .cp_actab .cp_actab-content p {
	margin: 1em 1em 1em 0;
}
/* 質問を開いた時の仕様 */
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 70em;
	border: 10px solid rgba(27,37,56,0.1);
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab input:checked ~ label {
	color: #00838f;
	border-radius: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}


.app-format {
  padding:0 70px;
  text-align:left;
}



.top-space {margin-top:13px;}



nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: $main_color;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
}

nav.globalMenuSp ul {
    background: $main_color;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav.globalMenuSp ul li {
    font-size: 1.0em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px dotted #fff;
}

/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    line-height:3em;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
    transform: translateY(0%);
}


.navToggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 12px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    background: $sub_color;
    text-align: center;
}

.navToggle span {
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px #eee;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}

.navToggle span:nth-child(1) {
    top: 9px;
}

.navToggle span:nth-child(2) {
    top: 18px;
}

.navToggle span:nth-child(3) {
    top: 27px;
}

.navToggle span:nth-child(4) {
    border: none;
    color: #eee;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}




#sidebar {
    font-size: 15px;
    padding: 15px 0;
    margin-top:-60px;
    width: 50px;
    height: 100%;
    position: fixed;
    background: black;
    text-align: center;
    z-index:100;
}

#global-nav .sub-menu-nav {
    position: fixed;
    background: $sub_color;
    text-shadow: 1px 1px 1px #000;
    font-weight:bold;
    z-index:100;
    top: 0;
    padding-top: 130px;
    left: 50px;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: width .2s ease-out;
}
#global-nav .sub-menu:hover .sub-menu-nav {
    width: 150px;
}
.sub-menu{
  padding-bottom:17px;
  padding-left:5px;
}


.scroll {
  overflow: scroll;
}


.right{
  margin-top:20px;
}


/*ファイルアップロード*/
.dropzone {
  border: 2px dashed #b4bcc2;
  @include border-radius(4px);

  .dz-message {
    font-size: 10px;
    text-align: center;
    margin: 0
  }
}
.fallback {
  padding-left:30px;
}


input {
    width:90%;
    border-radius:3px;
    box-shadow: none;
    padding: 2px 8px;
}
textarea {
    width:90%;
    line-height: 1.5em;
    border-radius:3px;
    box-shadow: none;
    padding: 2px 8px;
}

.label {
  background: red;
  color: white;
  border-radius: 5px;
  padding:5px;
}

.label-blue {
  background: blue;
  color: white;
  border-radius: 5px;
  padding:5px;
}



/*テーブル共通*/
table.company {
   width: 90%;
   margin: 0 auto;
   border-collapse: separate;
   border-spacing: 0px 15px;

   th, td {
     padding: 10px;
     font-size: 1.5vw; }

   th {
      background: $main_color;
      vertical-align: middle;
      text-align: left;
      overflow: visible;
      position: relative;
      color: #fff;
      font-weight: bold;

      :after {
         left: 100%;
         top: 50%;
         border: solid transparent;
         content: " ";
         height: 0;
         width: 0;
         position: absolute;
         pointer-events: none;
         border-color: rgba(136, 183, 213, 0);
         border-left-color: $main_color;
         border-width: 10px;
         margin-top: -10px;
         }
      }

   td {
      background: #f4f4f4;

      }
      .lp-small {
        font-size:12px;
      }
}



/*TopLP*/
/*  メイン画像  */


.back-image-app {
background-image: url('subbase.png');
background-size: 100%;
background-repeat: no-repeat;
vertical-align: middle;
padding-bottom:50px;
margin-top:-22px;
}
.back-image {
text-align:center;
.box2 {
padding: 1vw 4.5vw 0.3vw;
display:inline-block;
background:red;
p {
color: #FFF;/*文字色*/
font-weight: bold;
font-size:2.0vw;
}
}
.face-1 {
font-size:4.0vw;
font-weight:bold;
margin-top:30px;
color:black;
text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
}
.face-2 {
font-size:3.6vw;
font-weight:bold;
}
.face-3 {
font-size:7.0vw;
font-weight:bold;
color:$asort_color;
text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
}
.face-4 {
font-size:2.0vw;
font-weight:bold;
text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
line-height:4.0vw;
}
.face-price {
font-size:6.0vw;
font-weight:bold;
color:$sub_color;
margin:-10px 0 -25px;
margin-top:20px;
margin-bottom:0px;
}
.face-conversion {
font-size:3.0vw;
font-weight:bold;
color:red;
}
}



.information {
  margin-top:45px;
}

    .box1 {
     padding: 1rem 4.5rem 0.3rem;
     display:inline-block;
     text-align:center;
     background: red;
           p {
           color: #FFF;/*文字色*/
           font-weight: bold;
           font-size:1.7vw;
             }
      }

/*中央寄せ*/
.center {
  text-align:center;
  margin:0 auto;
}

/*イエローライン*/
.push {
    text-align:center;
    font-size:4.0vw;
    color:orange;
    line-height:6.5vw;
    font-weight:bold;
    width:100%;
    text-shadow: 2px 2px 2px #000;
}
.under {
     background: linear-gradient(transparent 60%, #FFFF66 60%);
}
.price {
    color:red;
    font-size:2.5vw;
    font-weight:bold;
 }

.top-wrapper {
  margin:0 40px;
  text-align:left;
   .float-image{
     float:left;
     margin:0 20px 20px 0px;
   }
   p{
     font-size:16px;
     line-height:2.0;
   }
   strong{
     font-size: 3rem;
     color: $main_color;
     font-weight: bold;
     line-height: 5.5rem;
   }

}
