// Place all the styles related to the Faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.square_btn_faq{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgba(0, 180, 255, 0.8);
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin:15px 15px;
    width:80%;
}
.square_btn_faq:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
