// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


                                                        /*題名共通*/
.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
  font-weight: bold;
  text-align:center;
  
        h2 {
            font-size:30px;
            font-weight:bold;
        }
    
        h3 {
            font-size:24px;
        }
    
        span   {
            color:red;
        }
}


.main-wrapper {
  padding: 30px 50px 100px 0;
  background-image: url(gata.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right bottom;
  color: black;
    
    h1 {
        opacity: 0.7;
        font-size: 50px;
        letter-spacing: 5px;
        padding-left:30px;
        line-height:100px;
        font-weight:bold;
        }

    p {
        opacity: 0.7;
        font-size: 18px;
        margin-bottom: 40px;
        padding-left:30px;
        font-weight:bold;
        line-height:50px;
    }
}


/*背景色を記述しています。*/

.base-wrapper {
  background-color: rgba(0, 180, 255, 0.6);  /*ブルー*/
  padding-bottom: 50px;
  text-align: center;
}

.sub-wrapper {
  background-color: rgba(241, 244, 248, 1.0);  /*グレー*/
  padding-bottom: 50px;
  text-align: center;
}

                                                            /*商品内容５カラム*/
                                                                                 
                                                            
                                                            
.five_column {
  float: left;
  width: 20%;
  position: relative;
  
    image {
        width: 65%;
        position:absolute;
        top:100px;
    }
    
    p {
        margin-top:-160px;
    }
    
}


                                                 /*会社概要*/

.image_president{
    margin-left:70px;
    margin-right:40px;
    float:left;
    witdh:120px;
}

.right_text{
    float:right;
    
}

.image2 {
    float: left;
    margin-left:30px;
    margin-right:80px;
    width:350px;
      }
      
.image3 {
    float: left;
    margin-right:80px;
    height:150px;
      }
      
      
.green_wrapper .introduce{
    position:absolute;
    width:300px;
    top:10px;
    left:10px;
}

.clear {
  clear: left;
}


footer {
  padding-top: 30px;
  padding-bottom: 20px;
  
    p {
        color: #b3aeb5;
        font-size: 12px;
    }
}


.introduce {
    width:300px;
    position:absolute;
    top:-42px;
    right:80px;
}


.merit-title {
  padding-top: 8px;
  margin: 0 5px;
  background-color:white;
  text-align: center;
  position:relative;
  height:330px;
  margin-bottom:50px;
  
    h2{
        margin-left:280px;
        margin-top:50px;
    }
    
    p{
        margin-top:50px;
    }

    .gizagiza {
        width:180px;
        position:absolute;
        left:-10px;
        top:-10px;
     }
     
     .number {
        position:absolute;
         z-index:1;
        left:60px;
        top:15px;
        font-size:50px;
        color:yellow;
        font-weight:bold;
        text-shadow: 0.1em 0.1em 1px #000;
        opacity: 0.9;
      }
      
      .merit-image {
        float:left;
        width:250px;
        margin-right:30px;
        margin-left:30px;
    }   
}





                                                            /*商品内容２カラム*/
                                                                                 
                                                            
.two_column {
  float: left;
  width: 50%;
  position: relative;
  margin-bottom:20px;
  
    .base-square{
        width:95%;
        position: relative;
    }
    
    .over-image{
        width:280px; 
        position: absolute;
        top:70px;
        left:150px;
    }

    h3 {
        position: absolute;
        top:5px;
        left:140px;
    }
    
}







.ques {
    width:65%;
    margin-top:45px;
}

span {
    color:red;
}


/*こんなお悩みありませんか？*/

.list {
  text-align: left;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  opacity: 0.8;
  padding-left: 600px;
}

.record_image{
    width:85%;
}

.image-left {
  width: 300px;
  margin: 0px 40px 10px 50px; 
  
  float: left;
  }
  
.side p{
   padding:80px;
}

.more-strong{
    font-size:21px;
    font-weight:bold;
    color:red;
}