  <div class="company-wrapper">
     <h1>Company Profile</h1>
  </div>
  
  <div class="sub-wrapper">
    <div class="heading"><h2>Message from the President</h2>
    <p>社長の一言</p></div>
      <%= image_tag("hands.jpg", :class => "image-left")%>
       <p class="list-right">助成金とは、国（厚生労働省）から支給される<span>返済不要</span>な支援金の事。主に国が指定する方法で会社で働く従業員に対して雇用・能力開発・正社員化・待遇改善等を行った企業に対して助成金が支給されます。また、基本的には条件を満たすことにより大半の会社で助成金を受給することが出来ます。</p>  
       <div class="clear"></div>
</div>



  <div class="base-wrapper">
  
             <div class="heading"><h2>Company Profile</h2>
             <p>会社情報</p></div>

<table>
        			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
	<tr>
		<th>会社名</th>
		<td>株式会社Crold Valieat</td>
	</tr>
	<tr>
		<th>代表取締役</th>
		<td>奥山健太</td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td>03-6712-7837</td>
	</tr>
	<tr>
		<th>FAX番号</th>
		<td>03-6712-7838</td>
	</tr>
	<tr>
		<th>郵便番号</th>
		<td>〒150-0032</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>東京都渋谷区鶯谷町19-19第三叶ビル303</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>info@crold-valieat.jp</td>
	</tr>
	<tr>
		<th>資本金</th>
		<td>270万円</td>
	</tr>
	<tr>
		<th>会社URL</th>
		<td>http://www.助成金サポート.jp/</td>
	</tr>
	<tr>
		<th>事業内容</th>
		<td>助成金申請サポート事業</br>
			   集客コンサルティング事業</br>
		</td>
	</tr>
</table>
</div>

  <div class="beige-wrapper">
  
             <div class="heading"><h2>History</h2>
             <p>沿革</p></div>
             
<table>
        			<colgroup>
            			<col width="40%">
            			<col width="60%">
       			　 </colgroup>
	<tr>
		<th>2013年6月</th>
		<td>愛知県名古屋市中村区にCrold Valieat設立し、ラッピング広告事業『Sign Board Tower』、LED等経費節約事業を行う。</td>
	</tr>
	<tr>
		<th>2014年12月</th>
		<td>本社を東京都渋谷区に移転し、WEB自動更新システム『アシストマネージャーの運営』</td>
	</tr>
	<tr>
		<th>2015年1月</th>
		<td>株式会社Crold Valieat法人の設立</td>
	</tr>
	<tr>
		<th>2016年1月</th>
		<td>『助成金申請サポート事業』を開始</td>
	</tr>
	<tr>
		<th>2018年11月</th>
		<td>集客コンサルティング事業の開始</td>
	</tr>
</table>
</div>