<p id="notice"><%= notice %></p>

<!-- 企業情報 -->

  <div class="heading">
    <h2><%= "#{@company.company} 様の現在の進捗" %></h2>
  </div>


  <ul class="progress-list">
  <% @company.comments.each do |c| %>
    <li class="progress-list-item"><%= "お申し込み頂いております#{c.limited_each_curriculum}の制度開始日は#{c.limited_each_start}となっております。" %></li>
  <% end %>
  </ul>

