<div id="wrapper">
  <div class="row">
    <div id="todos-left" class="col-4">
      <%= render partial: 'todos/todo_left' %>
    </div>

    <div id="todos-center" class="col-4">
      <%= render partial: 'todos/todo_center' %>
   </div>


    <div id="todos-right" class="col-4">
    </div>
  </div>
