<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <%# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> %>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <style type="text/css">
    #myToast {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1040;
    }
    button#burn {
      margin-left: 100px;
      margin-top: 80px;
    }
  </style>

  <script>
  $(document).ready(function() {
    var calls = gon.current_user;
    var nextCall = null;
    var toast = $('#myToast');
    var linkButton = toast.find('[type="button"]');

    var showToast = function(){
      linkButton.prop('value', nextCall.customer_name + '様ページへ');
      toast.css( 'display', 'block' );
    }

    var hideToast = function () {
      toast.css('display', 'none');
    }

    var regist = function () {
      var latestCallTime = sessionStorage.getItem('latestCallTime');

      nextCall = calls.find(function (call) {
        return !latestCallTime || latestCallTime < (new Date(call.time)).getTime()
      });

      if (!nextCall) return;

      var delay = (new Date(nextCall.time)).getTime() - Date.now();

      if (delay <= 0) {
        showToast();
      }

      return setTimeout(showToast, delay);
    }

    linkButton.click(function () {
      hideToast();
      sessionStorage.setItem('latestCallTime', new Date(nextCall.time).getTime());
      window.open(
        '/customers/' + nextCall.customer_id + '?notified_call_id=' + nextCall.id,
        nextCall.customer_name,
        '_blank'
      );
      regist();
    })

    regist();
  });
  </script>
</head>
<body>
  <!-- Alert -->
  <div class="right">
  <div class="btn btn-success" id="myToast" style="display:none;position:fixed;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden"true">&times;</button>
    　まもなく予約されたお電話の時間です。<br>
    <input
      type="button"
      style="width:100%;background-color: #5AD69F;color: #fff;border-style: none;"
      value="{companyName}様ページへ"
    />
  </div>
  </div>
</body>
